*{
    padding:0;
    overflow:hidden;
    font-family: 'Red Hat Display', sans-serif;
    box-sizing: border-box;
}

body{
    margin-top: 3%;
    margin-bottom: 0%;
}

.parent{
    margin-top:0%;
    box-shadow: 0px 15px 3px rgba(173, 172, 247, 0.18);

}

.container{
    margin-left: 5%;
    border-radius: 9px;
    width: 90%;
    height:90vh;
    position:relative;
    background-image: url(./images/pattern-background-desktop.svg);
}

.box{
    width: 28%;
    height: 80%;
    border: 1px solid white;
    border-radius: 10px;
    background: white;
    display: grid;
    position: absolute;
    top: 10%;
    left: 36%;
    /* box-shadow: 2px 7px 0px hsl(225, 100%, 94%);*/
    box-shadow: 0px 12px 3px rgba(170, 170, 170, 0.25);
}

.hero-img{
    width:100%;
    height: 80%;
    margin-bottom:0%;
    background-position: center;
    background-size: cover;
}

.order-summary{
    /* font-weight:bold; */
    font-size: 22px;
    margin-top:8%;
    margin-left: 16%;
    position:absolute;
    top: 33%;
    left: 10%;
}

.advertisement{
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 15%;
    font-size:12px;
    text-align: center;
}

.annual-plan{
    max-height: 80px;
    height: 100%;
    margin-top: -5%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 0%;
    display:flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 9px;
    background-color: hsl(225, 100%, 98%);
}

.col1{
    margin-top: 4%;
    margin-left:5%;
    align-items: center;
}

.col2{
    margin-top: 4%;
    margin-left: 6%;
}

.col3{
    margin-top: 8%;
    margin-left: 15%;
    font-weight:bold;
}

a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}

.change{
    color:hsl(245, 75%, 52%);
    text-decoration: underline;
    transition: transform 0.5s;
}

.change:hover{
    transform: translateY(-3px);
}

.payment{
    border: 1px solid blue;
    border-radius: 9px;
    margin-left: 8%;
    margin-right: 8%;
    max-height: 20px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 14px;
    color:white;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0px 15px 3px rgba(173, 172, 247, 0.18);
    transition: transform 0.5s;
}

.payment:hover{
    transform: translateY(-5px);
}

.cancel-order{
    margin-top: -2%;
    text-align: center;
    transition: transform 0.5s;
}

.cancel-order:hover{
    transform: translateY(-3px);
}

.cancel{
    color: rgb(19, 16, 16);
    font-size:14px;
}

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width:250px) and (max-width:375px) {
    
    body{
        overflow:hidden;
        margin: 0%;
        font-family: 'Red Hat Display', sans-serif;
    }
        
    .container{
        margin: 0%;
        border-radius: 0px;
        position:relative;
        background-image: url(./images/pattern-background-desktop.svg);
    }
    
    .box{
        width: 700px;
        height: 800px;
        border: 1px solid white;
        border-radius: 10px;
        background: white;
        display: grid;
        position: absolute;
        top: 5px;
        left: 5px;
        /* box-shadow: 2px 7px 0px hsl(225, 100%, 94%);*/
        box-shadow: 0px 12px 3px rgba(170, 170, 170, 0.25);
    }
    
    .hero-img{
        width:100%;
        height: 80%;
        margin-bottom:0%;
        background-position: center;
        background-size: cover;
    }
    
    .order-summary{
        font-weight:bold;
        font-size: 22px;
        margin-top:8%;
        margin-left: 16%;
        position:absolute;
        top: 33%;
        left: 10%;
    }
    
    .advertisement{
        margin-top: 7%;
        margin-left: 15%;
        margin-right: 15%;
        font-size:12px;
        text-align: center;
    }
    
    .annual-plan{
        max-height: 80px;
        height: 100%;
        margin-top: -5%;
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 0%;
        display:flex;
        flex-direction: row;
        border: 1px solid white;
        border-radius: 9px;
        background-color: hsl(225, 100%, 98%);
    }
    
    .col1{
        margin-top: 4%;
        margin-left:5%;
        align-items: center;
    }
    
    .col2{
        margin-top: 4%;
        margin-left: 6%;
    }
    
    .col3{
        margin-top: 8%;
        margin-left: 15%;
    }
    
    a{
        text-decoration: none;
        color:white;
        cursor: pointer;
    }
    
    .change{
        color:hsl(245, 75%, 52%);
        text-decoration: underline;
    }
    
    .payment{
        border: 1px solid blue;
        border-radius: 9px;
        margin-left: 8%;
        margin-right: 8%;
        max-height: 20px;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 1%;
        font-size: 14px;
        color:white;
        background-color: hsl(245, 75%, 52%);
        box-shadow: 0px 15px 3px rgba(173, 172, 247, 0.18);
    }
    
    .payment:hover{
        cursor: pointer;
    }
    
    .cancel-order{
        margin-top: -2%;
        text-align: center;
    }
    
    .cancel{
        color: rgb(19, 16, 16);
        font-size:14px;
    }
    
    .attribution {
        font-size: 11px; 
        text-align: center;
    }
    
    .attribution a { 
        color: hsl(228, 45%, 44%);
    }

}